.navbar .logo{
    max-width: 50px;
}

.navbar .isotipo{
    max-width: 300px;
    margin-top:10px;
    margin-right:10px;
}

.navbar{
    padding-top:10px;
    border-bottom: 20px;
    border-color: var(--bg-gold);
    border-bottom-style: solid;
}