<div class="target">
    <div class="target-body">
        <p class="text text-blue-strong text-center">Ingresa sesion</p>

        <form [formGroup]="form" (submit)="submit()">

            <div class="m-auto d-block">

                <label for="email" class="input input-gold fade mt-3">
                    <span class="icon icon-mail"></span>
                    <input type="text" 
                            required
                            placeholder="Ingresa tu correo" 
                            id="email"
                            formControlName="email"
                            >
                </label>
        
                <label for="password" class="input input-gold fade mt-3">
                    <span class="icon icon-lock"></span>
                    <input type="password" 
                    placeholder="Ingresa tu password" 
                    id="password" 
                    formControlName="password"
                    required>
                </label>

                <input type="submit" class="btn btn-blue-strong d-block m-auto" value="Ingresar" [disabled]="!form.valid">

            </div>
        
        </form>
    </div>  
</div>