<div class="">
    <div class="row">

        <div class="col-12">
            <div class="question">
                <div class="row">
                    <div class="col-4">
        
                    </div>
                    <div class="col-8">
                        <h2>Pregunta 1</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt deleniti.</p>
                    </div>
                </div>
            </div>
        
            <span class="linea small gray"></span>
        
        </div>
        
    </div>

    <div class="row">

            <div class="col-6">
                <p>Preguntas: <span>124</span> </p>
            </div>

            <div class="col-6">
                <p>Respuestas: <span>55 </span></p>
            </div>

    </div>

</div>