
<span class="line line-blue-strong">
    <p class="bg blue-strong d-block w-100 text-white text-right p-2 pr-5">Preguntas Recientes</p>
</span>

<div class="row p-0 m-0 bg gradient-white">

    <div class="col-12">

        <carousel>
            <div class="carousel-cell" *ngFor="let pregunta of preguntas, index as i">
                <div class="msg msg-blue border-radius mt-5">
                    <div class="msg-body">
                        <p>{{ pregunta.text }}</p>
                    </div>
                </div>
            </div>
        </carousel>
 
    </div>
</div>