<div class="row p-0 m-0">
    <div class="col-12">
        <div class="mt-5">
            <img src="assets/img/logo.png" alt="" class="d-block w-50 m-auto">
        </div>
        <a  class="btn btn-white d-block m-auto text-center shadow" 
            [routerLink]="['registrarse']" 
            routerLinkActive="btn-blue-strong"
            style="max-width: 200px;">
            REGISTRARSE
        </a>
    </div>
</div>
<div class="bg gradient-gold">
    <div class="row w-60 m-auto pt-5 pb-2">
        <div class="col-6">
            <a class="btn w-100 d-block btn-white shadow" 
            [routerLink]="['inicio']"
            routerLinkActive="btn-blue-strong"
            >
                INICIO
            </a>
        </div>
        <div class="col-6">
            <a class="btn  w-100 d-block btn-white shadow" 
            [routerLink]="['abogados']"
            routerLinkActive="btn-blue-strong"
            >
                ABOGADOS
            </a>
        </div>

        <div class="col-12 mt-3 mb-3">
            <div class="d-block m-auto mt-5 mb-5 w-70 ">
                <b class="text-center text-blue d-block text-center">
                    <span class="baged baged-blue-strong">{{ laywers }}</span> Abogados en linea
                </b>
            </div>
        
        </div>
    </div>
</div>