
<div class="target">
    <div class="target-body">
        
        <form (ngSubmit)="next( form )" #form="ngForm">
            <div *ngIf="!loading; else loaded">
                <label for="pregunta" class="input input-gold fade" *ngIf="position == 1">
                    <span class="icon icon-search"></span>
                    <input type="text" required placeholder="pregunta a un abogado experto" id="pregunta"
                        [(ngModel)]="question.text" name="text">
                </label>
            
                <label for="email" class="input input-gold fade" *ngIf="position == 2">
                    <span class="icon icon-mail"></span>
                    <input type="email" placeholder="Introduce tu correo electronico" id="correo" required
                        [(ngModel)]="people.email" name="email">
                </label>

                <div class="alert alert-green" *ngIf="position == 3 && send == true">
                    <span class="icon icon-check"></span>
                    <p class="text">Proceso exitoso. Espera a que seas contactado por un abogado</p>
                </div>
            
                <div class="alert alert-red" *ngIf="position == 3 && send == false">
                    <span class="icon icon-exclamation"></span>
                    <p class="text">Ha ocurrido un error durante el envio</p>
                </div>
            </div>

            <ng-template #loaded>
                <app-loading></app-loading>
            </ng-template>

        </form>
        <b class="text text-blue text-center d-block mb-2">Tu pregunta sera publicada de forma anonima</b>

        <div class="row p-0 m-0">
            <div class="col-8">
                <span class="line line-gray mt-4"></span>
            </div>
            <div class="col-4">
                <button (click)="next( form )" class="btn btn-gold">Envia tu pregunta</button>
            </div>
        </div>
    
    </div>
</div>


