:root {
  --bg-blue-strong: #00273f;
  --bg-blue: #003656;
  --bg-gold: #a67c00;
  --bg-gray: rgba(0, 39, 63, 0.25);
  --radius: 25px;
}

body {
  max-width: 568px;
  margin: auto;
}

.bg.gradient-gold {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(var(--bg-gold)));
  background: linear-gradient(to bottom, white 0%, var(--bg-gold) 100%);
}

.bg.gradient-white {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, white), color-stop(50%, #c9d4db));
  background: linear-gradient(to top, white 50%, #c9d4db 50%);
}

.bg.gold {
  background: var(--bg-gold);
}

.bg.blue {
  background-color: var(--bg-blue);
}

.bg.blue-strong {
  background-color: var(--bg-blue-strong);
}

.btn.btn-white {
  color: var(--bg-blue-strong);
  background-color: white;
}

.btn.btn-white:hover {
  color: var(--bg-blue-strong);
}

.btn.btn-blue-strong {
  color: white;
  background: var(--bg-blue-strong) !important;
}

.btn.btn-blue-strong:hover {
  color: white;
}

.btn.btn-gold {
  color: white;
  background: var(--bg-gold) !important;
}

.btn.btn-gold:hover {
  color: white;
}

.baged {
  padding: 5px 10px;
  text-align: center;
  border-radius: 10px;
}

.baged.baged-blue-strong {
  background-color: var(--bg-blue-strong);
  color: white;
}

.target {
  display: block;
  width: 100%;
  min-height: 50px;
  overflow: hidden;
}

.target .target-body {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 10px 10px;
  background: white;
}

.text {
  margin-top: 10px;
}

.text.text-blue {
  color: var(--bg-blue-strong);
}

.text.text-right {
  text-align: right;
}

.input {
  position: relative;
  display: block;
  width: 100%;
  padding: 8px 10px;
  border-radius: 25px;
  color: white;
}

.input input {
  background-color: inherit;
  outline: none;
  border: none;
  color: inherit;
  display: block;
  width: 90%;
}

.input.input-gold {
  background-color: var(--bg-gold);
}

.input.input-gold input {
  color: white !important;
}

.input.input-gold input::-webkit-input-placeholder {
  color: white;
}

.input.input-gold input:-ms-input-placeholder {
  color: white;
}

.input.input-gold input::-ms-input-placeholder {
  color: white;
}

.input.input-gold input::placeholder {
  color: white;
}

.input .icon {
  display: block;
  width: 10%;
  position: absolute;
  right: 0px;
}

.line {
  display: block;
  height: 5px;
  width: 100%;
}

.line.line-gray {
  background-color: var(--bg-gray);
}

.line.line-blue-strong {
  background-color: var(--bg-blue-strong);
}

.fade {
  -webkit-animation: fade 1s ease-in-out forwards;
          animation: fade 1s ease-in-out forwards;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes fade {
  from {
    opacity: 0;
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.border-radius {
  border-radius: var(--radius);
}

.msg {
  padding: 10px 10px;
  max-width: 250px;
  display: block;
  margin: auto;
}

.msg.msg-blue {
  background-color: var(--bg-blue-strong);
  color: white;
}
/*# sourceMappingURL=styles.css.map */