/* You can add global styles to this file, and also import other style files */
:root {
  blue-strong-bg: #00273f;
  blue-bg: #003656;
  yello-bg: #a67c00;
  white-bg-gradient: rgba(0, 54, 86, 0.21);
}
