:root {
  --bg-blue-strong: #00273f;
  --bg-blue: #003656;
  --bg-gold: #a67c00;
  --bg-gray: rgba(0, 39, 63, 0.25);
  --radius: 25px;
}

body {
  max-width: 568px;
  margin: auto;
}

.bg {
  &.gradient-gold {
    background: linear-gradient(to bottom, white 0%, var(--bg-gold) 100%);
  }

  &.gradient-white {
    background: linear-gradient(to top, white 50%, #c9d4db 50%);
  }

  &.gold {
    background: var(--bg-gold);
  }
  &.blue {
    background-color: var(--bg-blue);
  }
  &.blue-strong {
    background-color: var(--bg-blue-strong);
  }
}

.btn {
  &.btn-white {
    color: var(--bg-blue-strong);
    background-color: white;
    &:hover {
      color: var(--bg-blue-strong);
    }
  }

  &.btn-blue-strong {
    color: white;
    background: var(--bg-blue-strong) !important;
    &:hover {
      color: white;
    }
  }

  &.btn-gold {
    color: white;
    background: var(--bg-gold) !important;
    &:hover {
      color: white;
    }
  }

  &:hover {
    background-color: var(--bg-gold);
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 10px rgba(0, 39, 63, 0.25) !important;
    transition: all 0.5s ease-in-out;
    color: white !important;
  }
}

.baged {
  position: relative;
  display: inline-block;
  margin-left: 5px;
  padding: 5px 10px;
  text-align: center;
  border-radius: 10px;

  &.baged-blue-strong {
    background-color: var(--bg-blue-strong);
    color: white;
  }

  &.baged-white {
    background-color: white;
    color: var(--bg-blue-strong);
  }
}

.target {
  display: block;
  width: 100%;
  min-height: 50px;
  overflow: hidden;
  .target-body {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 10px 10px;
    background: white;
  }
}

.text {
  margin-top: 10px;
  &.text-blue {
    color: var(--bg-blue);
  }

  &.text-blue-strong {
    color: var(--bg-blue-strong);
  }

  &.text-right {
    text-align: right;
  }
}

.input {
  input {
    background-color: inherit;
    outline: none;
    border: none;
    color: inherit;
    display: block;
    width: 90%;
  }

  position: relative;
  display: block;
  width: 100%;
  padding: 8px 10px;
  border-radius: 25px;
  color: white;

  &.input-gold {
    background-color: var(--bg-gold);
    input {
      color: white !important;
      &::placeholder {
        color: white;
      }
    }
  }

  .icon {
    display: block;
    width: 10%;
    position: absolute;
    right: 0px;
  }
}

.line {
  display: block;
  min-height: 5px;
  width: 100%;
  &.line-gray {
    background-color: var(--bg-gray);
  }
  &.line-blue-strong {
    background-color: var(--bg-blue-strong);
  }
}

.fade {
  animation: fade 1s ease-in-out forwards;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateX(25%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.border-radius {
  border-radius: var(--radius);
}

.msg {
  padding: 10px 10px;
  max-width: 250px;
  min-height: 100px;
  display: block;
  margin: auto;
  &.msg-blue {
    background-color: var(--bg-blue-strong);
    color: white;
  }

  .msg-title {
    font-size: 15px !important;
    color: white;
  }

  .msg-img {
    display: block;
    width: 100%;
    margin: auto;
    border-radius: 50%;
    width: 65px;
    height: 65px;
  }

  &.hover:hover {
    background-color: var(--bg-blue);
    transform: scale(1.1) !important;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }
}

.alert {
  display: block;
  width: 80%;
  margin: auto;
  padding: 10px 5px;
  border-radius: 10px;
  opacity: 0;
  transform: scale(0.5);
  animation: alert 0.5s ease-in-out forwards;
  &.alert-red {
    background-color: #dc3545;
    color: white;
  }
  &.alert-green {
    background-color: #28a745;
    color: white;
  }
  .icon {
    margin: auto;
    display: block;
    font-size: 35px;
    text-align: center;
  }
  .text {
    font-size: 15px;
    text-align: center;
  }
}

@keyframes alert {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.width-full {
  max-width: inherit !important;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";
